/* Calculator Styling */
.container {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.header {
  font-size: 40px;
  font-weight: 900;
  margin-top: -40px;
}

.calculator {
  width: 440px;
  height: 360px;
  margin-left: 100px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.display {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  font-size: 20px;
  background-color: #8e8e8e;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.keypad {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.key {
  height: 60px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 0 0.5px #a1a1a1;
}

.key:hover {
  background-color: #ddd;
}

.operator {
  background-color: #ff8c00;
}

.operator2 {
  border-bottom-right-radius: 20px;
  background-color: #ff8c00;
}

.operator:hover {
  background-color: #ff6300;
}

.operator2:hover {
  background-color: #ff6300;
}

.zero {
  width: 50%;
  border-bottom-left-radius: 20px;
}
