.site-home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

#site-header {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.text-section {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.text-section p {
  margin-top: 50px;
}
